.outerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.innerContainer {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.passwordRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passwordInput {
  width: 300px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.registerButton {
  padding: 8px 16px;
  margin-top: 0.5rem;
}

.rows {
  padding-bottom: 0.5rem;
}

.inputField {
  width: 290px;
}
